.contact {
  padding: 20px 20px 0;
  margin: 20px 0 0;
  border-top: 1px solid #eee;
}

.contact p {
  margin: 15px 0;
  font-size: 30px;
  line-height: 20px;
  border: 1px solid #da552f;
}

.tweet button {
  border: 0;
  background: transparent;

  display: flex;
  align-items: center;
  color: #697882;
  cursor: pointer;
}

.tweet button:hover {
  opacity: 0.7;
}
